:root{
  --ani-ease:ease-out;
  --ani-time: 0.3s;
}


@mixin animation($properties...) {
  transition: all var(--ani-time) var(--ani-ease);
  @if($properties){
    transition-property: $properties;
  }
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}