
$cornerMultiplier: 2;

@mixin cornerradius($num) {
  border-radius:$num * $cornerMultiplier * 2px;
  border-top-right-radius: 0;
}

.radius-xsmall{
  @include cornerradius(1);
}
.radius-small{
  @include cornerradius(2);
}
.radius-medium{
  @include cornerradius(4);
}
.radius-large{
  @include cornerradius(8);
}
.radius-xlarge{
  @include cornerradius(16);
}
