input {
  @extend .radius-small;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  @extend .text-body1;
  font-weight: $fw-bold;
  border: none;
  background-color: transparent;
  @include spacing(padding, 2);
  @include animation(padding);
  @include spacing(margin, 1);
  display: block;
  &::placeholder {
    @extend .text-tertiary;
  }
  &:focus {
    outline: none;
    padding: 8px;
    &::placeholder {
      color: transparent;
    }
  }
}