
$spacingMultiplier: 4;

@mixin spacing($property, $num) {
  #{$property}:$num * $spacingMultiplier * 1px;
}


.flex {
  display: flex;
  &.space-between {
    align-items: center;
    justify-content: space-between;
  }
}