.main-nav {
  @include spacing(padding, 5);
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
  }
}
